extends layout

block content
    div 
        a.btn.btn-success(href="/datasets/new" role="button") Nuevo Tópico
    div.table-responsive 
        h3 Mis Tópicos
        table.table.table-hover.table-bordered 
            thead
                tr
                    th Nombre
                    th Llaves de API
                    th Creado el
                    th Ultimo dato recibido el
                    th Entradas
                    th
            tbody
                - each dataset, i in datasets
                    tr  
                        td
                            h4= dataset.name
                        td
                            div.col-md-6
                                strong Lectura: 
                                | #{dataset.read_key}
                            div.col-md-6
                                strong Escritura: 
                                | #{dataset.write_key}
                        td
                            p= dataset.created_at
                        td
                            p= dataset.last_entry_at
                        td
                            p= dataset.entries_number
                        td
                            div
                                a.btn.btn-link(href="/datasets/#{dataset.index}") Ver   
                            div
                                a.btn.btn-link(href="/datasets/#{dataset.index}/edit") Editar
                            div
                                form(action="/datasets/#{dataset._id}",method="POST")
                                    input(type="hidden",value="DELETE",name="_method")
                                    button.btn.btn-link(type="submit").
                                        Eliminar
                        